@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);


.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

.part {
	min-height: 600px;
	overflow: hidden;
}

.part.first {
	background-color: #87509c;
}

.part .heading {
	color: #393939;
}

#top {
	overflow: hidden;
	padding-bottom: 10px;
}

#logo {
	background: url("../img/logo.png") no-repeat;
	width: 117px;
	height: 37px;
	display: block;
	text-indent: -1000em;
	float: left;
	margin-top: 60px;

}

#menu {
	float: right;
	margin-top: 72px;
}

#menu a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	transition: .3s;
	border-radius: 5px;
}

#menu a + a {
	margin-left: 10px;
}

#menu .active,
#menu a:hover {
	background-color: #643a79;
}

#menu-mobile {
	display: none;
	background: url("../img/menu.svg") no-repeat center;
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.part.second {
	background-color: #17c2a4;
}

.part.third {
	background-color: #e7f1f8;
}

.part.fourth {
	background-color: #fff;
}

.part.fifth {
	background-color: #ffdd99;
}

.part.sixth {
	background-color: #d74680;
}

.part.seventh {
	background-color: #3c5499;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#fifth {
	min-height: 1000px !important;
}

#headline {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-top: 200px;
}

.button {
	color: #fff;
	border-radius: 5px;
	min-width: 300px;
	padding: 20px 0;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	transition: .3s;
}

.button:active, .button:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

.button.orange {
	background-color: #eb7d4b;
	border-bottom: 4px solid #c86a40;
}

.button.mint {
	background-color: #17c2a4;
	border-bottom: 4px solid #14a58c;
	margin: 50px 0;
}

.top-button {
	text-align: center;
}

.heading {
	text-align: center;
}

.heading h2 {
	font-size: 31px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 90px;
	letter-spacing: 2px;
	line-height: 1;
	margin-bottom: 20px;
}

.heading h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.heading p {
	font-size: 16px;
	margin-top: 0;
}

.part.second .heading {
	color: #fff;
}

.heading h2:after {
	content: "";
	background-color: rgba(0,0,0,.2);
	height: 3px;
	width: 70px;
	display: block;
	margin: 23px auto 0;
}

.part ul {
	padding: 0;
	overflow: hidden;
}

.part li {
	width: 215px;
	min-height: 330px;
	float: left;
	text-align: center;
	margin: 70px 0;
	list-style: none;
}

.part li + li {
	margin-left: 30px;
}

.part.second li {
	color: #fff;
}

.part.third {
	padding-bottom: 200px;
}

.part h2, .part h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.percent {
	font-size: 20px;
}

.circle {
	position: relative;
}

.circle strong {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 40px;
}

.art {
	width: 130px;
	height: 130px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.art.first {
	background-image: url("../img/img1.png");
}

.art.second {
	background-image: url("../img/img2.png");
}

.art.third {
	background-image: url("../img/img3.png");
}

.art.fourth {
	background-image: url("../img/img4.png");
}

.photo {
	border-radius: 50%;
}

.social a {
	text-decoration: none; 
}

.social a + a {
	margin-left: 5px;
}

.title {
	color: #30bae7;
	font-size: 14px;
	margin-bottom: 25px;
	display: block; // dodać display block albo inline-block jak margin nie działa
}

#portfolio-menu {
	text-align: center;
	margin-bottom: 50px;
}

#portfolio-menu a {
	color: #393939;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	transition: .3s;
	border-radius: 5px;
	background-color: #ebc985;
}

#porfolio-grid {
	overflow: hidden;
}

#portfolio-grid a {
	width: 50%;
	float: left;
	text-align: center;
}

#portfolio-grid img {
	width: 450px;
}

.part.sixth .heading {
	color: #fff;
}

#reviews-grid {
	margin: 50px 0;
	overflow: hidden;
}

.reviews-item {
	width: 50%;
	float: left;
	color: #fff;
}

.reviews-container {
	width: 400px;
	margin: 0 auto;
	height: 200px;
}

.reviews-descr:before {
	content: '';
	width: 80px;
	height: 80px;
	float: left;
	background-color: #787878;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-right: 20px;
}

.reviews-descr {
	display: block;
	font-style: italic;
}

.reviews-container h4 {
	display: block;
	margin: 5px 100px 0 100px;
	text-transform: uppercase;
	font-size: 18px;
}

.reviews-name {
	display: block;
	margin: 0 100px 5px 100px;
	color: #ffdd99;
	font-size: 14px;
}

.part.seventh .heading {
	color: #fff;
}

.button.blue {
	background-color: #30bae7;
	border-bottom: 4px solid #299ec5;
}

form {
	display: block;
	text-align: center;
	margin: 0 auto;
}

form input {
	width: calc(34% - 2px);
	display: inline-block;
	margin: 20px 0 0 0;
	background-color: #273a71;
	border: 0;
	height: 30px;
	padding: 15px 30px;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
}

#firstname {
	margin-right: 20px;
}

form textarea {
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	resize: none;
	width: calc(76% + 4px);
	padding: 15px 30px;
	background-color: #273a71;
	border: 0;
	font-size: 18px;
	color: #fff;
}

footer {
	clear: both;
	min-height: 80px;
	width: 100%;
	background-color: #344b8e;
}

footer ul {
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

footer li {
	margin-top: 20px;
	display: inline-block;
	list-style: none;
}

footer li + li {
	margin-left: 30px;
}

footer li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

@media (max-width: 650px) {
	.part li { 
		width: 100% !important;
	}

	#portfolio-grid a {
		width: 100%;
		margin-bottom: 30px;
	}

	#menu-mobile {
		display: inline-block;
	}

	#menu {
		margin-top: 60px;
	}

	#menulink {
		display: none;
	}

	nav:hover #menulink {
		display: block;
		z-index: 1000;
		position: absolute;
		padding: 30px;
		background-color: #87509c;
		right: 20px;
		width: 50%;
		border-radius: 5px 0 5px 5px;
		border: 1px solid #fff;
	}

	nav #menulink a {
		text-align: center;
		width: 100%;
		display: block;
		padding: 10px 0;
	}

	nav #menulink a + a {
		margin-left: 0;
	}

	#headline {
		font-size: 20px !important;
		margin-top: 100px !important;
	}

	.reviews-container {
		width: 100%;
	}

	.button.blue {
		margin-left: -40px;
	}
}

@media (max-width: 1000px) {
	#headline {
		font-size: 30px;
		margin-top: 150px;
	}

	.part li {
		width: 45%;
		margin: 20px 0;
	}

	.part li + li {
		margin-left: 0;
	}

	.part.third {
		padding-bottom: 0;
	}

	#portfolio-grid img {
		width: 300px;
	}

	#menu {
		margin-right: 50px;
	}

	#logo {
		margin-left: 50px;
	}

	.reviews-item {
		width: 100%;
	}

	form {
		width: 70%;
	}
	
	form input {
		width: calc(76% + 4px)
	}

	#firstname {
		margin-right: 0;
	}

	.container {
		width: 100%;
	}

	footer li a {
		font-size: 12px;
	}
}