@media only screen and (max-width: 767px) {
    .container-fluid {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .container-fluid {
        width: 90% !important;
    }
    #map {
        height: 600px;
    }
}

@media only screen and (min-width: 1401px) {
    .container-fluid {
        width: 1300px !important;
    }
    #map {
        height: 400px;
    }
}